# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
__pycache__/
media/
staticfiles/
.env
/venv

# Django Migrations
*/migrations/*
!*/migrations/__init__.py

# MySQL
*.sql
*.mysql

# Python
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# React
node_modules/
build/
.env.local
.env.development
.env.production
.env.test
.cache/
*.log
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
